.wrapper{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
   .wrapper{
    flex-direction: row;
    width: 100%;
    gap: 40px;
    justify-content: center;
   }
}

@media (max-width: 760px) {
    .wrapper{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }
 }