.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
}

@media (max-width: 630px) {
    .wrapper{
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
 }