.wrapper{
    display: flex;
    flex-direction: column;
}

.image{
    width: 200px;
}

.animation{
    margin-top: -50px;
}

@media (max-width: 1200px) {
    .wrapper{
        flex-direction: row;
    }
    .animation{
        margin-top: 0;
    }
    .image{
        display: none;
    }
  }