.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.navbar a{
    text-decoration: none;
}

.active{
    background-image: url(../../assets/navBg.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
}

.static{
    background-color: transparent;
}

@media (max-width: 630px) {
    .navbar{
        display: none;
    }
 }