.container{
    width: 200px;
    height: 200px;
    background-color: #CAD3E7;
    border-radius: 200px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: 0;
}

.container:active{
    transform: scale(0.95);
}