:root {
  background-color: #DAE3F7;
  background-image: url(./assets/bg.svg);
  background-size: cover;
}


body {
  margin: 24px;
  display: flex;
  place-items: center;
  min-width: 100dvh;
  min-height: 100dvh;
}

